.cta {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  color: white;
  padding: 10rem 3rem;
  background-image: url("../../images/bg-boost-mobile.svg");
  background-color: hsl(255, 11%, 22%);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 600px) {
  .cta {
    padding: 10rem;
    background-image: url("../../images/bg-boost-desktop.svg");
  }
}
